@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                            <!--<#input id="name" name="标题"/>
                            <#input id="type" name="图片"  underline="true"/>
                            <#input id="type" name="视频"  underline="true"/>
                            <#input id="imgLink" name="图片地址" underline="true"/>-->
                <form method="post" id="startFlowForm" action="/ledInfo/add" enctype="multipart/form-data">
                    <#input id="name" name="标题" underline="true"/>
                    <!--<#input id="type" name="图片"  underline="true"/>-->
                    <div style="margin-left: 111px"><b>上传类型</b></div>
                    <select id="type" name="type" class="form-control" style="width: 550px;margin-left:193px;margin-top:-27px;margin-bottom:20px;" readonly="readonly">
                        <option value="0">图片</option>
                    </select>
                   <!-- <div id="shipin" style="margin-left: 122px;margin-bottom: -19px;display: none"><b>视频</b></div>
                    <#input id="video" name="video" underline="true" style="display: none"/>-->
                    <!--<#input id="describe" name="描述" underline="true"/>-->
                    <div style="margin-bottom: 100px; margin-left: 113px;" id="img"><b>选择图片</b></div>
                    <div style="margin-left: 191px;margin-top: -111px;"><input type="file" name="img_url" id="img_url" class="form-control"></div>
                    <div class="form-group" style="margin-left: 109px;margin-top: 10px;">
                        <input type="button" class="btn btn-primary" value="提交" onclick="sub()">
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LedInfoInfoDlg.close()"/>
                    </div>
                </form>
            </div>
            <!--<div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LedInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LedInfoInfoDlg.close()"/>
                </div>
            </div>-->
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/ledInfo/ledInfo/ledInfo_info.js"></script>
<script src="${ctxPath}/static/js/jquery.form.js"></script>
<script type="text/javascript">
/*    $("#type").click(function(){
      var type =  $("#type").val();
      if (type == 0){
          $("#video").hide();
          $("#img").show();
          $("#img_url").show();
          $("#shipin").hide();
          $("#video").val("");
      }
      if (type == 1){
          $("#video").show();
          $("#img").hide();
          $("#img_url").hide();
          $("#shipin").show();
        }
    })*/
    function sub() {
        $("#startFlowForm").ajaxSubmit(function () {
            Feng.success("添加成功!");
            window.parent.LedInfo.table.refresh();
            LedInfoInfoDlg.close();
        });

    }
</script>
@}
