@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
                            <#input id="id" name="ID" value="${item.id}" underline="true" readonly="readonly"/>
                    <div style="margin-left: 113px"><b>图片类型</b></div>
                    <select id="aa" name="aa" class="form-control" style="width: 531px;margin-left:185px;margin-top:-27px;margin-bottom:20px;">
                        <option value="">请选择图片类型</option>
                        <option value="1">首页</option>
                        <option value="2">服务案例</option>
                        <option value="3">APP开发</option>
                        <option value="4">APP开发详情</option>
                        <option value="5">网站建设</option>
                        <option value="6">网站建设详情</option>
                        <option value="7">微信小程序</option>
                        <option value="8">微信小程序详情</option>
                        <option value="9">解决方案</option>
                        <option value="10">解决方案详情</option>
                        <option value="11">新闻动态</option>
                        <option value="12">新闻动态详情</option>
                        <option value="13">招贤纳士</option>
                        <option value="14">联系我们</option>
                    </select>
                            <#input id="imgName" name="图片名称" value="${item.imgName}" underline="true"/>
                            <#input id="imgLink" name="图片地址" value="${item.imgLink}" underline="true"/>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BannerInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BannerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/banner/banner/banner_info.js"></script>
@}
