@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
                            <#input id="id" name="ID" value="${item.id}" underline="true" readonly="readonly"/>
                            <#input id="imgName" name="图片名称" value="${item.imgName}" underline="true"/>
                            <#input id="imgLink" name="图片地址" value="${item.imgLink}" underline="true"/>
                            <#input id="describe" name="描述" value="${item.describe}" underline="true"/>
                            <#input id="link" name="超链接" value="${item.link}" />
            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="margin-left: 20px">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PartnersInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PartnersInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/partners/partners/partners_info.js"></script>
@}
