@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true" readonly="readonly"/>
                            <!--<#input id="category" name="0:技术,1:销售,2:行政" value="${item.category}" underline="true"/>-->
                    &nbsp;&nbsp;&nbsp;<b>服务类型:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                    <select name="type" id="type"  style="width: 240px;height: 30px;margin-bottom: 30px" >
                        <option value="">请选择服务类型</option>
                        <option value="0">APP开发</option>
                        <option value="1">网站建设</option>
                        <option value="2">微信小程序</option>
                    </select>
                            <#input id="place" name="招聘地点" value="${item.place}" underline="true"/>
                            <#input id="email" name="邮箱" value="${item.email}" underline="true"/>
                            <#input id="phone" name="电话" value="${item.phone}" underline="true"/>
                            <#input id="num" name="招聘人数" value="${item.num}" underline="true"/>
                            <#input id="year" name="工作经验(年数)" value="${item.year}" />
                </div>

                <div class="col-sm-6">
                            <#input id="jobsName" name="岗位名称" value="${item.jobsName}" underline="true"/>
                            <#input id="jobsRequire" name="岗位要求" value="${item.jobsRequire}" underline="true"/>
                            <#input id="jobsDuty" name="岗位职责" value="${item.jobsDuty}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="HumanInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="HumanInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/human/human/human_info.js"></script>
@}
